# Configuración de Supabase
SUPABASE_URL=https://difftciyoqffskfzvmyy.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpZmZ0Y2l5b3FmZnNrZnp2bXl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5OTI3MTEsImV4cCI6MjEwMDU2ODcxMX0.kxzXk9R4_IHv4IC2k0SdKd8Biiv4ZkMRSceNYdd8n_8
# Configuración de Zavu
ZAVU_API_KEY=tu-zavu-api-key

# Configuración de IA (para agent.py una vez integrado)
OPENAI_API_KEY=tu-openai-api-key
GEMINI_API_KEY=tu-gemini-api-key
